<div id="content">
	<div class="inner">

	
		<article class="box post post-excerpt">
			<header>

				<h2>Welcome to The Archives</h2>
				<p>This is a collection of the most famous tales throughout history. Heroism, villainy, might, cowardice, all are important facets of a true legend.</p>
			</header>
							
							
				<p>
					<h3>Rules</h3>
				</p>
							
				<p>Stories cannot contain innappopriate imagery, writing, or anything of the sort. This is a site meant to be enjoyed by people of all ages. Good stories can be written without smut!</p>

		</article>

	</div>
</div>