<h1><a href="tales/new">Create a Tale</a></h1>

<h1><a href="tales/show">Tales</a></h1>

<h1><a href="characters/new">Create a Character</a></h1>

<h1><a href="characters/show">Character List</a></h1>

<h1><a href="users/sign_in">Log In</a></h1>

<h1><a href="users/sign_up">Sign Up</a></h1>